# Python の実行環境

- Google Colab
今使っているものです。グラフィックの表示や、マウス操作などは苦手で、ゲームを作るには不向きです。
オープンデータを分析するなどに、向いています。

- パソコン
パソコンにインストールして動かすことができます。
ゲーム作成や、Excelファイルを読み込んで加工するなど、事務処理のツールを作るのに役立ちます。
Python と Vistual Studio Code を使うのがお勧めです。
### python ダウンロード
https://www.python.org/downloads/
### Visual Studio Code ダウンロード
https://code.visualstudio.com/

- Blender
プロのような、本格的な映像を作ることができます。
### Blender
https://www.blender.org/

# コロナ
https://www.mhlw.go.jp/stf/covid-19/open-data.html

### 新規陽性者数の推移（日別）
https://covid19.mhlw.go.jp/public/opendata/newly_confirmed_cases_daily.csv

In [ ]:
# これを最初にインストールします
!pip install bar_chart_race

In [ ]:
import pandas as pd
import numpy as np
import bar_chart_race as bcr

# csvを読み込み、Dateを日付形式にする
df = pd.read_csv('https://covid19.mhlw.go.jp/public/opendata/newly_confirmed_cases_daily.csv', parse_dates=["Date"])
# Date が 2022/3/10より大きいものだけ抜き出し、ALL 列は削除する
df = df[df["Date"] > np.datetime64("2022-01-01")].drop('ALL', axis=1)
# Date をインデックスにして、
df.set_index(["Date"],inplace=True)
# グラフを表示する（n_bars = 上位何件を表示するか）
bcr.bar_chart_race(df=df, n_bars=10)
#df

Output hidden; open in https://colab.research.google.com to view.

In [ ]:
import pandas as pd
import bar_chart_race as bcr
df = pd.read_csv('https://storage.googleapis.com/covid-external/forecast_JAPAN_PREFECTURE_28.csv')
df = df.pivot_table(index='target_prediction_date', 
    columns='prefecture_name',
    values='cumulative_deaths')
bcr.bar_chart_race(df=df, n_bars=10)

#cumulative_confirmed
#cumulative_confirmed_q0975

## タイタニック

In [ ]:
import pandas as pd

# タイタニックデータの取得
url='https://raw.githubusercontent.com/mwaskom/seaborn-data/master/raw/titanic.csv'
titanic=pd.read_csv(url)
# データの確認
print(titanic.head(3))

# 年齢に欠損があるので欠損値に平均年齢を代入
titanic["age"] = titanic["age"].fillna(titanic["age"].median())

pd.pivot_table(titanic, index='pclass', columns='sex',  values='age', margins=True)

# ローカルフォルダのマウントとExcelファイル

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
import pandas as pd

#Excel・CSVファイルをDataFrameに読み込む

df = pd.read_excel('/content/drive/Shareddrives/01_授業コンテンツ/python/date_2022.xlsx', parse_dates=['日付'])
df

          日付   品目   単価  数量   金額
0 2022-01-01  みかん  100   3  300
1 2022-02-03  ばなな  110   4  440

In [23]:
import pandas as pd

#Excel・CSVファイルをDataFrameに読み込む

df = pd.read_excel('/content/drive/Shareddrives/01_授業コンテンツ/python/date_2022.xlsx')
df

          日付   品目   単価  数量   金額
0 2022-01-01  みかん  100   3  300
1 2022-02-03  ばなな  110   4  440

In [26]:
# Excel 書き出し
df.to_excel('/content/drive/Shareddrives/01_授業コンテンツ/python/temp.xlsx', index=False)

# AI機械学習
https://www.tensorflow.org/tutorials/keras/classification